<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head th:fragment="head-fragment">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/site.css" th:href="@{/css/site.css}"/>
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center">
        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>

            <div th:if="${param.logout}">
                <p class="text-warning">You have been logged out.</p>
            </div>

            <div class="border border-secondary p-3 rounded">
                <p>Login to Access</p>
                <p>
                    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus/>
                </p>
                <p>
                    <input hidden type="password" name="password" class="form-control" placeholder="Password"
                           value=""/>
                </p>
                <p>
                    <input type="submit" value="Login" class="btn btn-primary"/>
                </p>
            </div>
        </form>
    </div>
</div>
</body>
</html>