<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head th:fragment="head-fragment">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title th:text="${message}">message</title>
</head>
<body>
<div layout:fragment="content">
    <p th:text="${message}">message</p>
    <a th:href="@{/home}" class="btn btn-link">Back to Home</a>
</div>
</body>
</html>